
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><img src="assets/img/ui-tw.jpg" class="img-circle" width="60"></p>
              	  <h5 class="centered">Twisted Willow</h5>
                  
                  <li class="mt">
                      <a  class="active" href="events.html" >
                          <i class="fa fa-book"></i>
                          <span>Events</span>
                      </a>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="flowers.html">
                          <i class="fa fa-leaf"></i>
                          <span>Flowers</span>
                      </a>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="my_items.html">
                          <i class="fa fa-tasks"></i>
                          <span>My Items</span>
                      </a>
                  </li>


                  <li class="sub-menu">
                      <a href="user_settings.html" >
                          <i class="fa fa-cogs"></i>
                          <span>My Settings</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="faq.html" >
                          <i class="fa fa-question"></i>
                          <span>FAQ/Help</span>
                      </a>
                  </li>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <div class="col-lg-2">
           	 <h3><i class="fa fa-angle-right"></i> Events</h3>
             </div>
             <div class="col-lg-8"></div>
             <div class="col-lg-2">
				<button type="button" align="right" style="margin-top: 10px; margin-bottom:10px;" class="btn btn-primary btn-lg">New Event</button>
              </div>
              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Current Events</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> Event</th>
                                  <th><i class="fa fa-question-circle"></i> Date</th>
                                  <th><i class="fa fa-bullhorn"></i> Contact</th>
                                  <th><i class="fa fa-bullhorn"></i> Venue</th>
                                  <th><i class="fa fa-bookmark"></i> Cost</th>
                                  <th><i class=" fa fa-edit"></i> Status</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td><a href="Events/stem_counter.html">Marshall - Hendricks Wedding</a></td>
                                  <td class="hidden-phone">5/5/2015</td>
                                  <td>$12000.00 </td>
                                  <td><span class="label label-info label-mini">Quoted</span></td>
                                  <td>
              							  <div class="btn-group">
                                          <button type="button" class="btn btn-theme03">Action</button>
                                          <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Go</a></li>
                                        <li><a href="#">Archive</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Delete</a></li>
                                      </ul>
                                    </div>      		
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <a href="Events/stem_counter.html">
                                          Arch Grants Gala
                                      </a>
                                  </td>
                                  <td class="hidden-phone">12/29/14</td>
                                  <td>$17900.00 </td>
                                  <td><span class="label label-warning label-mini">Booked</span></td>
                                  <td>
                                      <div class="btn-group">
                                          <button type="button" class="btn btn-theme03">Action</button>
                                          <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Go</a></li>
                                        <li><a href="#">Archive</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Delete</a></li>
                                      </ul>
                                    </div>   
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <a href="Events/stem_counter.html">
                                          Johnson - Abraham Wedding
                                      </a>
                                  </td>
                                  <td class="hidden-phone">2/29/14</td>
                                  <td>14400.00$ </td>
                                  <td><span class="label label-success label-mini">Booked</span></td>
                                  <td>
                                       <div class="btn-group">
                                          <button type="button" class="btn btn-theme03">Action</button>
                                          <button type="button" class="btn btn-theme03 dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Go</a></li>
                                        <li><a href="#">Archive</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Delete</a></li>
                                      </ul>
                                    </div>   
                                  </td>
                              </tr>
          
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              
              
              <!--ARCHIVED EVENTS-->
              </div><!-- /row -->
                  <div class="col-md-12" style="margin-top: 10px; margin-right: 20px;">
                         <a class="pull-right" href="Events/stem_counter.html">Archived Events</a>
                  </div><!-- /col-md-12 -->

		</section><! --/wrapper -->
 